@import '../../style/variables.scss';

.item {
	td {
		background: $orange;
		padding: 10px;
	}
	td:nth-child(2) {
		min-width: 70px;
	}
	&:hover {
		cursor: pointer;
		td {
			background: $darkOrange;
		}
	}
}
